body{
    background-color: orange;
    align-content: center;
    text-align: center;
    margin: 20rem;


}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

button {
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

p{
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;

}