body {
    background-color: lightblue;
    text-align: center;
    margin: 20rem;
}

h1 {
    color: navy;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

button {
    border-radius: 8px;
    background-color: navy;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 8px;
    width: 150px;
    margin: 10px;
    outline: none;
}

p {
    color: navy;
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;
}
